<h1>Thanks for using CommunityLighting!</h1>
<p>Extended customisations coming soon</p>

<h2>Lighting Authors</h2>
{{#each authors}}
<span>{{this}}</span>
{{/each}}

<h2>Community Lighting</h2>
<a href="https://github.com/BlitzKraig/fvtt-CommunityLighting"><img src="https://img.shields.io/badge/GitHub-Support_You-lightgrey" style="border: none; margin-top: 10px;"></a>
<a href="https://ko-fi.com/Q5Q01YIEJ"><img src="https://img.shields.io/badge/_Ko--Fi!-Support_Me!-red" style="border: none;"></a>